:root {
  --backgroundBlack: #1e1e2f;
  --textWhite: #f4f5f7;
  --successGreen: #46884b;
  --failRed: #e05555;
}

html * {
  color: var(--textWhite);
  background-color: var(--backgroundBlack);
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;
}

.popup {
  background-color: var(--backgroundBlack);
  height: 550px;
  width: 400px;
}

/* Style the tab */
.tab {
  display: flex;
  width: auto;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
  overflow: hidden;
  border: 1px solid #ccc;
  color: var(--textWhite);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  flex: 1;
  height: 50px;
  background-color: inherit;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
/* .tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current tablink class */
/* .tab button.active {
  background-color: #ccc;
} */

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/************************/
/* Have I Been Pwnd Tab */
/************************/
.pwndTab .error {
  color: var(--failRed);
  font-weight: bold;
}

/* Specific background colors for pwnd and not pwnd */
.pwnd * {
  background-color: var(--failRed);
}

.notPwnd * {
  background-color: var(--successGreen);
}

.pwndTab {
  color: var(--textWhite);
}

.pwndTab ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  background-color: inherit;
}

.pwndText {
  color: var(--textWhite);
  background-color: inherit;
  font-family: "Roboto", sans-serif;
}
