.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.manageSites {
}

.form-container {
  width: 400px;
  text-align: left;
  margin: 0 auto;
}

.tab-title {
  margin-bottom: 0.2em;
}

.form-group {
  margin-bottom: 0.5em !important;
  padding-right: 0px !important;
}

.label {
  font-size: 14px;
}

#input {
  font-size: 12px;
}

.checkbox-name {
  margin-left:2.5%;
  text-align:center;
  color: black;
  font-weight: 100;
  font-size: 14px;
}

.add-button-container {
  margin-top: 20px;
}

.error-message-visible {
  color: red;
}

.error-not-visible {
  display: none;
}


/** HAVE I BEEN PWND TAB **/

.pwndTab {
  margin: 20px;
}

.responseBody ul li {
  list-style: none;
}

.pwnd {
  color: red;
}

.notPwnd {
  color: green
}